# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Celery
celerybeat-schedule
celerybeat.pid

# Migrations (если вы хотите включать в репозиторий — можно убрать)
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Coverage reports
htmlcov/
.coverage

# Test outputs
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.db

# Docker
docker-compose.override.yml